# Ignore macOS Finder metadata
.DS_Store

# Python cache / bytecode
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
.env/
.pytest_cache/

# Runtime data
records/*
!records/.gitkeep
results/*
!results/.gitkeep
